@using Gym_Tracker.Services
@inherits LayoutComponentBase
@inject AppState State

<div class="main-layout">
    @Body
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await State.InitializeAsync();
            StateHasChanged();
        }
    }
}
